/*Content style*/


/*XinChen--PC 2017-9-2*/
* {margin:0;padding:0;word-break:break-all;}
html,body{height:100%; font-size:100%; min-width: 1000px;!important;}
body{font:14px/1.5em "Arial","Microsoft YaHei",Verdana,Helvetica,sans-serif;text-align:left;background:#fff;color:#2d3e50;margin:0px;line-height:22px; }
table{font:14px/1.5em "Arial","Microsoft YaHei",Verdana,Helvetica,sans-serif;text-align:left;margin:0px;padding:0px;border:0px;color:#2d3e50;line-height:22px;}
body,figure,h1,h2,h3,h4,h5,h6,p,pre,blockquote,form,fieldset,legend,input,button,select,textarea {margin:0;padding:0;font-family:"Arial","Microsoft YaHei";}
address,caption,cite,code,dfn,em,var,i{font-style:normal;font-weight:normal;}
ul,ol,li,dl,dt,dd{ margin:0px; padding:0px;border:0px;list-style:none;}
article,aside,details,figcaption,figure,footer,header,nav,section{display: block;}
abbr[title],dfn[title] {border-bottom:1px dotted;cursor:help;}
pre,code,kbd,samp{font-family:monospace,sans-serif;_font-family:'Courier New',monospace,sans-serif;font-size: 1em;}
pre{white-space: pre;/*CSS2*/white-space:pre-wrap;/*CSS2.1*/white-space:pre-line;/*CSS3*/word-wrap:break-word;/*IE*/}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1;}
input,textarea{outline:none;}
textarea{resize:none;overflow:auto;}
input[type="checkbox"],input[type="radio"]{vertical-align:middle;}
input[type="button"],input[type="submit"]{ cursor:pointer;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
img{border:none;}
/**/
a:link,a:visited{text-decoration:none;cursor:pointer;outline:none;}
a:hover,a:active {text-decoration:none;cursor:pointer;}
/* common style */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}

* {margin: 0;  padding: 0;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }

body {  font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma; font-weight: 400;}
ul {  list-style-type: none;  }
i{font-style:normal;}
a{
  color: #555;
  text-decoration: none;
}
a {  color: #b63b4d;  text-decoration: none;  }
/** =======================
 * Contenedor Principal
 ===========================*/
h1 {  color: #FFF;  font-size: 24px;  font-weight: 400;  text-align: center;  margin-top: 80px;  }
h1 a {  color: #c12c42;  font-size: 16px;  }

.accordion { width: 100%;overflow: hidden; max-width: 360px;  margin-top: 30px;  background:#006aae;  -webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px;  }

.accordion .link {  cursor: pointer;  display: block;  padding: 15px 0;  color: #f2f2f2;  font-size: 18px;  font-weight: 700;  border-bottom: 3px solid #CCC;  position: relative;  -webkit-transition: all 0.4s ease;  -o-transition: all 0.4s ease;  transition: all 0.4s ease; }
.accordion .link span{display: none;padding-left: 20px;font-size: 15px;}
.accordion li:last-child .link { border-bottom: 0;}
.accordion li i {display: inline-block;  -webkit-transition: all 0.4s ease;  -o-transition: all 0.4s ease;  transition: all 0.4s ease; }


.accordion li.open .link {  color: #f5f5f5; }

.accordion li.open i {  color: #f5f5f5;}
.accordion li.open i.fa-chevron-down {  -webkit-transform: rotate(180deg);  -ms-transform: rotate(180deg);  -o-transform: rotate(180deg);  transform: rotate(180deg);  }

/**
 * Submenu
 -----------------------------*/
.submenu {  display: none; background:#ebefe1; font-size: 14px;  }

.submenu li {  border-bottom: 1px solid #4b4a5e;  }

.submenu a {  display: block;  text-decoration: none;  color: #4b4a5e;  padding:10px 0;   -webkit-transition: all 0.25s ease;  -o-transition: all 0.25s ease;  transition: all 0.25s ease;  }

.submenu a:hover {  background: #9cd1c9;  color: #282b37;  }

nav.main-menu{position: fixed;left: 0; top: 0; bottom: 0; width: 5em; overflow: auto;   -webkit-transition: width .05s linear;  transition: width .05s linear;  -webkit-transform: translateZ(0) scale(1,1);  background:#f0f0f0;  z-index: 11;  }
nav.main-menu:hover .accordion .link span{display: inline-block;}
nav.main-menu:hover{width: 12em;overflow: auto;}
::-webkit-scrollbar {display: none;}

nav.main-menu:hover .link i {position: absolute;left: 20px;padding-top: 16px;  -webkit-transition: all 0.4s ease;  -o-transition: all 0.4s ease;  transition: all 0.4s ease; }

.navbar-header{height: 3em;padding-bottom: 5em;}
.navbar-header a img{height: 3em;}

.navbar-nav li{margin-top:1em;font-size: 1em;color: #666;}

.navbar-nav a{color: #666;}
.mag-_r1{margin-right: 0.5em;}
.scrollable{overflow-y: auto; overflow-x: hidden;  padding-left: 5em;  -webkit-overflow-scrolling: touch;}
.row{margin-top: 2em;padding: 0 3em;}
.bbs{color: #b63b4d}










tspan{font-size: 1.2em;}
.navbar-right{margin-right: 2em;}
/*@media(max-width:819px){
  .navbar-right{display: none;}

}*/



/* General Demo Style */
a{
    color: #555;
    text-decoration: none;
  }
.container{
  width: 100%;
  padding-left:0;
  padding-right:0;
  position: relative;
}
.main{
  text-align: center;
  width: 100%;
  background: rgba(0,0,0,0.03);
  padding: 1em 3em 3em 0;
  margin: 0 auto 30px auto;
  border: 1px solid rgba(255,255,255,0.8);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);

}
.clr{
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}
.container > header{
  margin: 10px;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}
.container > header h1{
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: #888;
  padding: 5px 0px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
  font-weight: 700;
}
.container > header p{
  font-style: italic;
  color: #aaa;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Header Style */
.codrops-top{
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  font-family: Cambria, Georgia, serif;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
}
.codrops-top a:hover{
  background: rgba(255,255,255,0.9);
}
.codrops-top span.right{
  float: right;
}
.codrops-top span.right a{
  float: left;
  display: block;
}
.ie-note{
  color: #ac375d;
  display: none;
  font-size: 15px;
}





/*new,daohangtexiao*/

.titleAppend{width: 100%; box-shadow: 1px 2px 2px #f3f2c3;}

.titleAppend ul li{display:inline-block;/**display:inline; *zoom:1;*/border-bottom: 30px solid #7e93a7; border-left: 13px solid transparent;  border-right:13px solid transparent; height: 0;position: relative;padding:0 10px;margin-left: -15px;}
.titleAppend ul .now em{border-bottom: 29px solid #f8d580;}
.titleAppend ul .now{z-index: 10;}
.titleAppend ul li em{display: block; border-bottom: 29px solid #f2f2f2; border-left: 13px solid transparent;width: inherit;  height: 0;/*position: absolute;left: -12px;right:-12px;top: 1px;*/ border-right:13px solid transparent;margin-left: -22px;margin-right: -22px;margin-top: 1px;}
.titleAppend ul li em a{display:inline-block;font-size: 14px;color: #666;line-height: 30px;;padding: 0 20px 0 10px;}
.titleAppend ul li span{position: absolute;right: 3px;top: 6px; cursor: pointer; transform:scale(0.5);  -webkit-transform:scale(0.5);  -moz-transform:scale(0.5);  -o-transform:scale(0.5); }
.titleAppend ul li span:hover{transform:scale(1);  -webkit-transform:scale(1);  -moz-transform:scale(1);  -o-transform:scale(1); }
.test2 iframe{border: none;margin-top: 0.5em;}
.titleAppend ul li:hover em{border-bottom: 29px solid #f3f2c3;}


/*弹出层  数字币入库的样式*/
.coinStory{  width:100%;  height:100%;  position: fixed;  background-color:rgba(0,0,20,0.5);  top:0; left: 0;  z-index:999;  display: none; }

.coinSave{  width:800px;  height:500px;  position: absolute;  background-color:#F8F8FF;  top: 50%;  left:50%;  margin-top:-250px;  margin-left:-400px;  border:1px solid #eee;padding-left:20px;  }

.cvTitle{  height:50px;  width:90%;  display: inline-block;  line-height:50px; font-size: 16px;  }
.coinSave .remove{  display: block;width: 15px;height: 20px;line-height: 20px;border-radius: 50%; background-color: #fff; text-align: center;position: absolute;right: 10px;top: 10px; transform:scale(0.8);  -webkit-transform:scale(0.8);  -moz-transform:scale(0.8);  -o-transform:scale(0.8); }
.coinSave .remove:hover{background: orange;color: #fff;cursor: pointer; transform:scale(1.2);  -webkit-transform:scale(1.2);  -moz-transform:scale(1.2);  -o-transform:scale(1.2); }
.coinSave li{  list-style: none;  float: left;  width:48%;  height:60px;  line-height:60px;  }
.coinSave li:nth-child(1) select{  display: inline-block;  width:50%;  height:30px;  line-height:30px; font-size: 16px;  }
.coinSave li:nth-child(2) h1{  display: inline-block;  float: right;  margin-right:20%;  font-size: 12px!important; }
.coinSave li:nth-child(4) {  float: right;  height:350px;  }
.coinSave li:nth-child(4) .viewBox{  width:90%; height:90%; font-size:16px;line-height:20px;padding:5px;background: #fff; /*border: 1px solid red;*/  }
.coinSave li:nth-child(5) {  margin-top:100px;  }
.coinSave li:nth-child(6) h1{  margin-top:0;  }
.coinSave li:nth-child(7) button{  display: inline-block;  cursor: pointer;  border: none;  background-color: #559cec;  margin:0 9%;  height:40px;  line-height:40px; font-size: 20px;  width:30%;  }

/*easyUi样式更改*/
.panel-body{padding: 0!important;}

/*弹出层   未开放 ,敬请期待*/
.notOpened{  width:100%;  height:100%;  position: fixed;  background-color:rgba(0,0,20,0.5);  top:0; left: 0;  z-index:999;  display: none; }
.notOpened .notOpenedBox{width: 400px;height: 400px;position: absolute;top: 50%;left: 50%;margin-top: -200px;margin-left: -200px;
  background-color: #fff;border-radius: 5px}
.notOpened h2{margin-top: 50px;height: 50px;line-height: 50px;text-align: center}
.notOpened p{text-align: center;font-size: 16px;height: 30px;line-height: 30px}
.notOpened .p1{margin-top: 60px;}
.notOpened .p3 a{color: #0e90d2;}
.notOpened button{width: 100px;height: 30px;line-height: 30px;display: block;margin: 50px auto;background-color: #9cc401;color: #fff;border: none;}