<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue-ydui Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入rem自适应类库 -->
    <script src="js/ydui.flexible.js"></script>
    <style>
        body{
            height: 100%;
            width: 100%;
        }
        .itemImg{width: 0.45rem;height: 0.8rem;}
        .codeInput{border: none;}
        .codeImg{width: 1.4rem;margin-top: 0.1rem;}
        .codeText{position: relative;top: -0.13rem;}
    </style>
</head>
<body>

<div id="app">
    <yd-cell-group>
        <yd-cell-item>
            <img class="itemImg" slot="icon" src="images/account.png">
            <input slot="right" type="number" placeholder="请输入手机号" v-model="account" v-on:blur="inputPrompt">
        </yd-cell-item>
        <yd-cell-item>
            <img class="itemImg" slot="icon" src="images/note.png">
            <input class="codeInput" slot="left" type="text" placeholder="请输入验证码" v-model="password">
            <div slot="right">
                <img class="codeImg" slot="icon" :src="Verification">
                <span class="codeText" @click="verificationChange">点击刷新</span>
            </div>
        </yd-cell-item>
        <div>
            <yd-button size="large" type="hollow" @click.native="login">下一步</yd-button>
        </div>
    </yd-cell-group>
    <yd-cell-group>
        <yd-cell-item>
            <yd-icon slot="icon" name="phone3" size=".45rem"></yd-icon>
            <input type="text" slot="right" placeholder="请输入短信验证码" v-model="smsCode">
            <yd-sendcode slot="right"
                         v-model="start1"
                         second="30"
                         @click.native="sendCode"
                         type="warning"
            ></yd-sendcode>


        </yd-cell-item>
    </yd-cell-group>
    <yd-button size="large" type="primary" @click.native="register">注册</yd-button>
</div>

<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/jquery-1.8.3-min.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var geteway = "https://mp.4000051530.com";
    var url_ImgCode ="/xcgamemana/token?action=checkImgCode"; //图形码验证接口
    var url_sendSMSCode ="/xcgamemana/token?action=sendSMSCode";//发送验证码接口
    var url_getMobileToken = "/xcgamemana/token?action=getMobileToken";//获取手机令牌接口
    var htmlfnc = new Vue({
        el: '#app',
        data:{
            Verification: geteway + "/ServicePage/ValidateImg.aspx? t =" + new Date().getTime(),
            account: '',
            password: '',
            smsCode:"",
            start1:false
        },
        mounted: function () {
            this.Load();
        },
        methods: {
            verificationChange:function(){
                this.Verification = geteway + "/ServicePage/ValidateImg.aspx? t =" + new Date().getTime()
            },
            inputPrompt:function () {
                var mobile =this.account;
                var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
                if (!myreg.test(mobile) || mobile.length == 0 || mobile.length != 11) {
                    this.$dialog.toast({
                        mes: '请输入正确手机号！',
                        timeout: 1500,
                        icon: 'success'
                    });
                }
            },
            login:function () {
                var that =this;
                var obj={"sysId": "0","versionNo": "0.0.0.1",mobile:that.account,code:that.password};
                obj =JSON.stringify(obj);
                that.$dialog.loading.open();
                console.log(that.account+"/"+that.password);
                axios.post(url_ImgCode, obj).then(function (res) {
                    that.$dialog.loading.close();
                    console.log(res.data);
                    that.msgPrompt(res.data);
                    if (res.data.result_code === '1') {

                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
            sendCode:function () {
                this.$dialog.loading.open('发送中...');
                this.start1 = true;
                var that=this;
                console.log(that.account+"/"+that.password);
                var obj={"sysId": "0","versionNo": "0.0.0.1",mobile:that.account,token:that.password};
                axios.post(url_sendSMSCode, obj).then(function (res) {
                    console.log(res.data);
                    that.$dialog.loading.close();
                    if (res.data.result_code === '1') {
                        that.$dialog.toast({
                            mes: '已发送',
                            icon: 'success',
                            timeout: 1500
                        });
                    }
                }).catch(function (err) {
                    console.log(err);
                    that.$dialog.loading.close();
                    that.$dialog.toast({
                        mes: "请求失败!",
                        timeout: 1500,
                        icon: 'error'
                    });
                });
            },
            register:function () {
                var that =this;
                this.$dialog.loading.open('');
                var obj={"sysId": "0","versionNo": "0.0.0.1",mobile: that.account,smsCode: that.smsCode};
                axios.post(url_getMobileToken, obj).then(function (res) {
                    that.$dialog.loading.close();
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })

            },
            Load: function () {

            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });





</script>
</body>
</html>