<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue-ydui Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入rem自适应类库 -->
    <script src="js/ydui.flexible.js"></script>
    <style>

    </style>
</head>
<body>

<div id="app">
    <div>
        <div class="page-bottom">
            <div class='top_main'>
                <div class='top_mc'><span>总共</span><span class='color11'>{{Count}}条</span></div>
                <div class='top_mc'><span>购币</span><span class='color11'>{{Buycoins}}个</span></div>
                <div class='top_mc'><span>总币数：</span><span class='color11'>{{Totalcoins}}个</span></div>
                <div class='top_mc'><span>总金额：</span><span class='color11'>{{Totalmoney}}元</span></div>
            </div>
            <yd-button size="large" type="danger" @click.native="show4 = true">右侧弹出</yd-button>
            <yd-popup v-model="show4" position="right">
                <yd-button type="danger" style="margin: 30px;" @click.native="show4 = false">Close Right Popup</yd-button>
                <yd-cell-item>
                    <span slot="left">金额：</span>
                    <input slot="right" type="number" placeholder="最低金额" class='section__input'  maxlength='9' v-model="dateInput0">
                    <input slot="right" type="number" placeholder="最高金额" class='section__input'  maxlength='9' v-model="dateInput1">
                </yd-cell-item>
                <yd-cell-item>
                    <span slot="left">币数：</span>
                    <input slot="right" type="number" placeholder="最低币数" class='section__input'  maxlength='9' v-model="dateInput2">
                    <input slot="right" type="number" placeholder="最高币数" class='section__input'  maxlength='9' v-model="dateInput3">
                </yd-cell-item>
                <yd-cell-item>
                    <span slot="left">查询日期：</span>
                    <yd-datetime type="date" v-model="datetime4" slot="right"></yd-datetime>
                    <yd-datetime type="date" v-model="datetime5" slot="right"></yd-datetime>
                </yd-cell-item>
                <yd-cell-item arrow type="label">
                    <span slot="left">选择方式：</span>
                    <select slot="right" v-model="dataSelected1">
                        <option value="">请选择</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </yd-cell-item>
                <yd-cell-item arrow type="label">
                    <span slot="left">店名：</span>
                    <select slot="right" v-model="dataSelected2">
                        <option value="">请选择店名</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </yd-cell-item>
                <yd-button size="large" type="primary" @click.native="confirm">primary</yd-button>
                <yd-button size="large" type="hollow" @click.native="cancel">hollow</yd-button>
            </yd-popup>
            <!--<yd-list>-->
                <!--<yd-list-item v-for="item, key in orderList" :key="item.index">-->
                    <!--<div class='section_items {{index%2==0? "background1" : "background2"}}' data-id="{{item.storeId}}">-->
                        <!--<div class="section_c1">-->
                            <!--<div class='section_T'>{{item.StoreName}}</div>-->
                            <!--<div class='section_r'>{{item.Descript}}</div>-->
                            <!--<div>{{item.PayStatus}}</div>-->
                        <!--</div>-->
                        <!--<div class="section_c2">-->
                            <!--<div>{{item.CreateTime}}</div>-->
                        <!--</div>-->
                        <!--<div class="section_c3">-->
                            <!--<div class='section_c'>￥{{item.Price}}元</div>-->
                            <!--<div class='section_c'>{{item.OrderType}}</div>-->
                            <!--<div class='section_c'>{{item.Coins}}个</div>-->
                            <!--<div class='section_c'>{{item.BuyType}}</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</yd-list-item>-->
            <!--</yd-list>-->
            <!--<div class='allover' hidden='{{allover}}'>已加载全部</div>-->
        </div>
    </div>
</div>

<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/jquery-1.8.3-min.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.89"; //版本号
    var url_getDataOrder = '/XCGameMana/DataOrder?action=getDataOrder';//获取分页订单列表
    var htmlfnc = new Vue({
        el: '#app',
        data:{
            orderList:[],
            BuyTypelist:[],
            StoreNamelist:[],
            Count:"0",
            Buycoins:"0",
            Totalcoins:"0",
            Totalmoney:"0",
            dateInput0:"",
            dateInput1:"",
            dateInput2:"",
            dateInput3:"",
            datetime4: '2018-02-21',
            datetime5: '2019-01-21',
            dataSelected1:"",
            dataSelected2:"",
            show4: false,
            today: "",
            mobileToken:''
        },
        mounted: function () {
            this.newTimes();
            this.Load();
        },
        methods: {
            newTimes:function () {
                var myDate = new Date();
                var yy = myDate.getFullYear(); //获取完整的年份(4位,1970-????)
                var mm = myDate.getMonth()+1; //获取当前月份(0-11,0代表1月)         // 所以获取当前月份是myDate.getMonth()+1;
                if(mm<10){
                    mm = "0"+mm
                }
                var dd = myDate.getDate(); //获取当前日(1-31)
                this.today =yy+"-"+mm+"-"+dd;
                this.datetime4 =yy+"-"+mm+"-"+dd;
                this.datetime5 =yy+"-"+mm+"-"+dd;
            },
            confirm:function (pageIndex) {
                var that =this;
                this.$dialog.loading.open('');
                if (parseInt(that.dateInput0) <= parseInt(that.dateInput1) || that.dateInput0 == "" || that.dateInput1 == ""){
                    var startMoney = that.dateInput0;
                    var endMoney = that.dateInput1;
                }else{
                    var startMoney = that.dateInput1;
                    var endMoney = that.dateInput0;
                }
                if (parseInt(that.dateInput2) <= parseInt(that.dateInput3) || that.dateInput2 == "" || that.dateInput3 == ""){
                    var startCoins = that.dateInput0;
                    var endCoins= that.dateInput1;
                }else{
                    var startCoins = that.dateInput1;
                    var endMCoins = that.dateInput0;
                }
                if (that.datetime4 != that.today) {
                    var startTime = that.datetime4.split("-").join("")
                }else{
                    var startTime = ""
                }
                if (that.datetime5 != that.today) {
                    var endTime = that.datetime4.split("-").join("")
                }else{
                    var endTime = ""
                }
                if (parseInt(startTime) <= parseInt(endTime) || startTime == "" || endTime == "") {
                    var startcreatetime = that.datetime4;
                    var endcreatetime = that.datetime5;
                } else {
                    var startcreatetime = that.datetime5;
                    var endcreatetime = that.datetime4;
                }
                var obj={
                    sysId: sysId,
                    versionNo: versionNo,
                    mobileToken: that.mobileToken,
                    pageIndex: pageIndex,
                    storename: that.data.storeName,
                    startcoins: that.data.startcoins,
                    buytype: that.data.buyType,
                    startcreatetime: that.data.startcreatetime,
                    startprice: that.data.startprice,
                    endcreatetime: that.data.endcreatetime,
                    endcoins: that.data.endcoins,
                    endprice: that.data.endprice
                };
                axios.post(url_getDataOrder, obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        var orderListData = [];
                        for (var i = 0; i < res.data.result_data.Lists.length; i++) {
                            if (res.data.result_data.Lists[i].OrderType == "0") {
                                res.data.result_data.Lists[i].OrderType = "微信支付"
                            } else {
                                res.data.result_data.Lists[i].save_coins = "其他支付"
                            }
                            if (res.data.result_data.Lists[i].PayStatus == "0") {
                                res.data.result_data.Lists[i].PayStatus = "未支付"
                            } else {
                                res.data.result_data.Lists[i].PayStatus = "已支付"
                            }
                            orderListData.push({
                                CreateTime: res.data.result_data.Lists[i].CreateTimes,
                                Price: res.data.result_data.Lists[i].Price,
                                Descript: res.data.result_data.Lists[i].Descript,
                                StoreName: res.data.result_data.Lists[i].StoreName,
                                Coins: res.data.result_data.Lists[i].Coins,
                                BuyType: res.data.result_data.Lists[i].BuyType,
                                OrderType: res.data.result_data.Lists[i].OrderType,
                                PayStatus: res.data.result_data.Lists[i].PayStatus
                            })
                        }
                        that.orderList =orderListData;
                        that.orderPage =res.data.result_data.Page;
                        that.Count =res.data.result_data.Count;
                        that.Buycoins =res.data.result_data.Buycoins;
                        that.Totalcoins =res.data.result_data.Buycoins;
                        that.Totalmoney =res.data.result_data.Totalmoney;
                        that.BuyTypelist =res.data.result_data.BuyTypelist;
                        that.StoreNamelist =res.data.result_data.StoreNamelist;
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })

            },
            cancel: function () {
                var that =this;
                that.Count="0";
                that.Buycoins="0";
                that.Totalcoins="0";
                that.Totalmoney="0";
                that.dateInput0="";
                that.dateInput1="";
                that.dateInput2="";
                that.dateInput3="";
                that.datetime4=that.today;
                that.datetime5=that.today;
                that.dataSelected1="";
                that.dataSelected2="";
            },
            Load: function () {

            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });





</script>
</body>
</html>